@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
}
.main-content {
  padding-top: calc(env(safe-area-inset-top) + 20px);
}